@media(max-width:675px) {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .video-destaque {
        display: flex;
        flex-direction: column;
    }

    .propaganda,
    .video {
        width: 360px;
        gap: 20px;
    }

}


@media(max-width:394px) {
    .container {
      max-width: 360px;
    }

    .propaganda,
    .video {
        width: 300px;
}
}


