  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 900px;
    min-height: 415px;
    display: grid;
    grid: "video-destaque propaganda" 70px
    "video-destaque video-sugerido" auto;
    gap: 15px;
    padding: 20px;
}

.video-destaque {
   grid-area: video-destaque;
   gap: 10px;
   display: flex;
   flex-direction: column;
}

.logo {
    width: 100%;
    height: 217px;
    cursor: pointer;
}

.video-destaque h1 {
    font-size: 18px;
    font-weight: 700;
}

.propaganda {
    grid-area: propaganda;
    min-width: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.videos-sugeridos {
    grid-area: video-sugerido;
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.video {
    display: flex;
    gap: 5px;
    cursor: pointer;
}
